<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogFile="C:\Desktop\MyLogFile.txt">

	<targets>
		<target xsi:type="File" name="logfile" fileName="c:\\FintralearnErrorlogs\\Erros.log"/>
		<target xsi:type="File" name="Warnlogfile" fileName="c:\\FintralearnErrorlogs\\Warnings.log"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="Warnlogfile" />
	</rules>
</nlog>